/* footer properties */

#footer {
    background-color: rgb(201, 24, 24);
    border-style: solid;
    border-color: rgb(199, 45, 45);
    padding: 20px;
    /* position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; */
}

nav {
    background-color: rgb(233, 233, 233);
}

.nav-link {
    color: rgb(201, 24, 24);
}

.card {
    margin-top: 20px;
}

.cardText {
    font-size: 20px;
    text-align: center;
}

.banner {
    width: 100%;
    height: auto;
}

.navbar-nav {
    margin-left: 430px;
    margin-right: auto;
}

.logo {
    width: 65%;
    height: 65%;
}

#section {
    margin-top: 20px;
}

.section1 {
    background-color: rgb(228, 228, 228);
}