/* footer properties */

#footer {
    background-color: rgb(201, 24, 24);
    border-style: solid;
    border-color: rgb(199, 45, 45);
    padding: 20px;
    margin-top: 20px;
    /* position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; */
}

nav {
    background-color: rgb(233, 233, 233);
}

.nav-link {
    color: rgb(201, 24, 24);
    font-family: 'Lato', sans-serif;
    transition: 0.4s;
}

.nav-link:hover {
    letter-spacing: 2px;
    font-size: 300;
    color: rgb(175, 19, 19);
}

.card {
    margin-top: 10px;
}

.cardText {
    font-size: 20px;
    text-align: center;
}

.banner {
    width: 100%;
    height: auto;
}

.navbar-nav {
    margin-left: 430px;
    margin-right: auto;
}

.logo {
    width: 65%;
    height: 65%;
}

#section {
    margin-top: 20px;
}

.section1 {
    background-color: rgb(228, 228, 228);
}

.card-text-aboutUs {
    padding-top: 80px;
    /* padding-bottom: auto; */
}

#logoCard {
    margin-top: 30px;
    margin-bottom: 30px;
}

.footerText a {
    color: black;
    text-decoration-color: rgb(49, 49, 49);
    transition: 0.3s;
}

.footerText a:hover {
    color: rgb(194, 194, 194);
    /* letter-spacing: 2px; */
}

.readCard {
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.table {
    margin-top: 50px;
    margin-bottom: 50px;
}